.spinner {
  border: 4px solid #f3f3f3; /* Warna abu-abu muda */
  border-top: 4px solid #3498db; /* Warna biru (kepalanya) */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 50px auto; /* Tengahin posisi */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}